<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @purchase_order.quantity %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @purchase_order.amount %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @purchase_order.discount %>
</p>

<p>
  <strong>Paid amount:</strong>
  <%= @purchase_order.paid_amount %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @purchase_order.balance %>
</p>

<p>
  <strong>Purchase Date:</strong>
  <%= @purchase_order.purchase_date %>
</p>

<%= link_to 'Edit', edit_purchase_order_path(@purchase_order) %> |
<%= link_to 'Back', purchase_orders_path %>
